body {
	font-family: 'Hind', sans-serif;
	font-size: 15px;
	background-color: #f9f9fb;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	color: #000;
}

.container {
	width: 100%;
	max-width: 1530px;
	margin: 0 auto;
}

main {
	padding-top: 289px;

}

/*HEADER
=============*/

	.header {
		width: 100%;
		height: 345px;
		background-image: url('img/Header grey.jpg');
	}

	.header__menu {
		width: 62px;
		padding: 20px 21px;
		border-left: 1px solid #3c3c3c;
		border-right: 1px solid #3c3c3c;
	}

	.header__inner {
		height: 55px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.siteName {
		margin-left:662px;
		-ms-align-items: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	.siteName_title {
		margin: 0;
	}

	h1 span {
		text-transform: uppercase;
		font: 600 22px 'Hind';
		color: #fefefe;
		letter-spacing: 0.3em;
		margin-left: 0.3em;
	}

/*NAVIGATION
================*/

	nav {
		margin: 0 0 0 auto;
		-ms-align-items: center;
		align-items: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 269px;
	}

	nav > div {
		border-right: 1px solid #3c3c3c;
		text-align: center;
		height: 55px;
		padding-top: 18px;
	}

	nav > div:nth-child(1) {
		border-left: 1px solid #3c3c3c;
	}

	.mainNav1 {
		width: 57px;
	}

	.mainNav2 {
		width: 57px;
	}

	.mainNav3 {
		width: 52px;
	}

	.mainNav4 {
		width: 51px;
	}

	.mainNav5 {
		width: 56px;
	}

/*INTRO
================*/

	.intro__inf {	
		width: 100%;
		max-width: 1530px;
		position: absolute;
		top: 55px;
		height: 580px;
		background-image: url(img/Placeholder.jpg);
	}

	.leftIntro {
		margin: 231px 0 0 99px;
	}

	.uph {
		font: 600 18px 'Hind';
		color: #ffffff;
		text-transform: capitalize;
		word-spacing: 1px;
		letter-spacing: 2px;
	}

	.imp {
		font: bold 40px 'Hind';
		color: #ffffff;
		text-transform: uppercase;
		word-spacing: 4px;
		letter-spacing: 2px;
		line-height: 1.2em;
		margin-top: 10px;
	}

	.rightIntro {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
		margin-top: -100px;
	}

	.sq, .someArticle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	 .rightIntro p {
		-webkit-transition: rotate(-90deg);
		-o-transition: rotate(-90deg);
		transform: rotate(-90deg);
		margin-top: 10px;
		font: 600 14px 'Hind';
		color: #ffffff;
		text-transform: uppercase;
		word-spacing: 0px;
		letter-spacing: 1px;
	}

	.arrow {
		max-width: 100%;
		width: 15px;
		height: 30px;
		margin-bottom: 50px;
	}

	.arrow2 {
		margin-left: 60px;
		margin-top: -128px;
	}

	.arrow1 {
		margin-left: 60px;
		margin-top: 120px;
	}

	.sq {
		padding-bottom: 137px;
		margin-right: -50px;
	}

	.sq img {
		margin: 5px;
	}

/* USER INFO 
================*/

	.userInf {
		background-color: #f7f7f7;	
		height: 100px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}

	.formText {
		text-transform: uppercase;
		font: bold 20px 'Montserrat';
		letter-spacing: 0.2em;
		padding: 0 60px 0 30px;
	}

	form {
		display: inline;
	}

	.userName, .userEmail {
		width: 450px;
	}

	#userSubmit {		
		width: 270livepx;
		background-color: #212121;
		color: #ffffff;
		font: 500 14px 'Hind';
		padding-left: 10px;
		margin-right: 0;
	}

	.userInf input {
		letter-spacing: 0.1em;
		margin-right: 34px;
		height: 50px;
		border: none;
		padding-left: 30px;
		font: 300 15px 'Hind';
	}

/* SECTINS
=============== */

#bla {
	background-color: #212429;
}

#bla a, #bla p {
	color: #ffffff;
}


.fon {
	height: 255px;
	background-color: #f4f4f4;
	position: relative;
	top: -49px;
	left: -26px;
}

.fon2 {
	height: 278px;
	position: relative;
	top: -49px;
	left: -26px;
}

#black__phone {
	background-color: #212121;
	width: 40px;
	height: 35px;
	position: absolute;
	left: 160px;
	top: -18px;
}

#black__phone65 {
	background-color: #212121;
	width: 40px;
	height: 38px;
	position: absolute;
	left: 160px;
	top: -16px;
}

#black__phone2 {
	background-color: #212121;
	width: 40px;
	height: 35px;
	position: absolute;
	left: 160px;
	top: 235px;
}

#black__phone21 {
	background-color: #212121;
	width: 40px;
	height: 35px;
	position: absolute;
	left: 160px;
	top: 255px;
}

#black__phone5 {
	background-color: #ffffff;
	width: 40px;
	height: 35px;
	position: absolute;
	left: 160px;
	top: -18px;
}

.read {
	width: 128px;
	height: 30px;
	font: 500 14px 'Hind';
	color: #212121;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	margin: 0 auto;
	padding-top: 4px;
	margin-top: 30px;
}

div.comments_div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	align-content: flex-start;
	text-transform: uppercase;
}

div.comments_div p {
	font: 400 14px 'Hind';
}

video {
	width: 360px;
	height: 249px;
	position: relative;
	left: -25px;
	top: -45px;
}

.comments_div div.lastovie {
	width: 190px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.comments_div div.lastovie img {
	margin: 0 10px;
	height: 13px;
	width: 13px;
}

div.comments_div > img {
	margin: 0;
	width: 16px;
	height: 12px;
	margin-left: 30px;
	margin-right: 10px;
}

div.comments_div > p {

}

section div img {
	display: block;
	margin: auto;
	-ms-align-items: center;
	margin-top: 8px;
}	

	.firstSec {
		position: relative;
	}

	section h6 {
		font: 400 14px 'Hind';
		color: #999;
	}

	section > * {
		text-align: center;
	}

	section h3 {
		font: 700 20px 'Montserrat';
		color: #212121;
	}

	section p {
		font: 300 15px 'Hind';
		color: #999;			
		line-height: 2em;
	}

	section > h6, section > h3 {
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	section > div {
		height: 61px;
		border-top: 1px solid #f7f7f7;
		position: absolute;
		left: -1px;
		bottom: -1px;
	}

	section {
		letter-spacing: 0.06em;
		word-spacing: 0.15em;
		padding: 48px 25px;
		position: relative;
		border: 1px solid #f5f5f7;
	}

	#cir {
		background-color: #999999;
		border-radius: 50%;
		width: 134px;
		height: 135px;
		margin: 0 114px 160px;
	}

	p#natali {
		margin-top: 25px;
		color: #999999;
	}

	.columns {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		height: 1600px;
		margin-top: 78px;
	}

	.columns div {
		width: 360px;
	}

	.firstSec {
		height: 485px;
		margin-bottom: 30px;
	}

	.secondtSec {
		height: 510px;
		margin-bottom: 30px;
	}

	.thirdSec {
		height: 485px;
		background-image: url(img/sec.jpg);
	}

	.forthSec {
		height: 555px;
		margin-bottom: 50px;
	}

	.fifthSec {
		height: 320px;
		margin-bottom: 50px;
	}

	.sixthSec {
		height: 255px;
	}

	.seventhSec {
		height: 310px;
	}

	.eighthSec {
		height: 400px;
		margin-bottom: 30px;
	}

	.ninethSec {
		height: 550px;
		margin-bottom: 30px;
		-webkit-box-shadow: 0 0 30px #999999;
		box-shadow: 0 0 30px #999999;
	}

	.tenthSec {
		padding-top: 80px;
		text-align: center;
		text-decoration: underline;
		height: 200px;
		margin-bottom: 30px;
	}

	.elventhSec {
		height: 300px;
	}

	.twelfthSec {
		height: 510px;
		margin-bottom: 50px;
	}

	.thirteenthSec {
		height: 480px;
		margin-bottom: 50px;
	}

	.forteenthSec {
		height: 450px;
	}


/* FOOTER
============= */

footer {
	background-color: #212429;
}

.topFooter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.topFooter {
	height: 370px;
}

.topFooter div {
	padding-top: 60px;
	width: 360px;
}

.ot {
	margin-right: 30px;
}

.bottomFooter {
	width: 100%;
	height: 40px;
	background-color: #17191c;
}

#nata {
	font-family: 'Mrs Saint Delafield', sans-serif;
	text-align: right;
	padding-top: 40px;
	padding-right: 20px;
	font-size: 32px;
	transform: rotate(-9deg);
}

.authorInf1 div {
	height: 150px;
	width: 360px;
	background-color: #3a3c49;
	margin-top: 10px;
}

#hr {
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #65676a;
}

.authorInf4 p {
	margin-bottom: 6px;
}

.ots {
	margin-bottom: 40px;
}

.authorInf2 p {
	margin-left: 22px;
}

.topFooter div h4 {
	margin-bottom: 43px;
}

.ot p, .authorInf4 p {
	font: 300 15px 'Hind';
	line-height: 1.8em;
	letter-spacing: 0.1em;
}

.ot p, .authorInf4 p {
	color: #c4c5c6;
}

.topFooter div h4{
	font: bold 16px 'Montserrat';
	text-transform: uppercase;
	color: #f7f7f7;
}

.bottomFooter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.bottomFooter__p {
	margin: 0px auto;
	font: 300 14px 'Hind';
	text-transform: uppercase;
	color: #747577;
}

#vfootere {
	padding: 0px;
	background-color: black;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 200px;
	width: 360px;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	flex-flow: column wrap;
}

#vfootere div {
	border: 1px solid #212429;
	height: 100px;
	width: 120px;
	padding-top: 0px;
	background-color: #f9f9fb;
}